/* Gerais */
  body {
	  font-family: 'Roboto', sans-serif;
  }
  /*Footer Style*/
  footer{
    background-color: #212529;
    color: #FFF;
  }
  
  .row {
	margin: 0;
  }
  /* Barra de navegação */
  header, .navbar {
	background-color: #353D41;
  }

  #mensagem{
	color: #ffffff;
  }
  
  #nav-container {
	padding-top: 0;
	padding-bottom: 0;
  }
  
  #logo {
	width: 90px;
  }
  
  .navbar-brand {
	padding: 0;
	color: #FFF;
  }
  
  .navbar-brand:hover {
	color: #FFF;
  }
  
  #navbar-links a {
	color: #FFF;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
	padding: 1rem .8rem;
  }
  
  .nav-item.active {
	border-bottom: 3px solid #FFF;
  }
  
/*Flash Mensage*/
  .container-fluid {
    padding: 0;
    background-color: #212529;
  }
/*Middle*/
  .msg{
    color: #FFF;
  }
  h2{
    color: whitesmoke;
    text-align: center;
  }
  .btn {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 150px;
    align-items: center;
    margin: 3px;
    justify-content: space-around;
    background-color: #65DAF9;
    color: #000;
    text-transform: uppercase;
    border: 3px solid transparent;
    transition: .7s;
    border-radius: 10px;
    font-weight: bolder;
    text-align: center;
  }
  
  .btn:hover {
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: #3EC1D5;
  }
  #add {
    width: 200px;
    height: 48px;
    margin-top: 8px;
    padding: 10px 20px;
    border-radius: 30px;
  }
  #delete{
    background-color: #c51313e7;
    color: rgb(0, 0, 0);
  } 
  #delete:hover {
    text-decoration: none;
    color: #c51313e7;
    background-color: transparent;
    border-color: #c51313e7;
  }
  
/* Despesa list */
  #despesa-container {
    height: 100%;
    background-color: #212529;
  }
  
  #cards-container {
    display: flex;
    justify-content: space-evenly;
  }
  
  #despesa-container .card {
    background-color: #212529;
    flex: 0 0 auto;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
    justify-items: center;
    align-items: center;
  }
  
  #despesa-container img {
    width: 275px;
    height: 100px;
  }
  
  .card .card-date {
    font-size: 12px;
    color: #CCC;
  }
  
  .card .card-description {
    color: #FFF;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  
  .card-participants {
    font-size: 14px;
    color: #757575;
  }
  
/* Event create page */
  #despesa-create-container {
    padding: 30px
  }
  
  #despesa-create-container label {
    font-weight: bold;
  }
  
  #despesa-create-container input,
  #despesa-create-container select,
  #despesa-create-container textarea {
    font-size: 12px;
  } 