/* Gerais */
body {
	font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: #212529;
  }
    /*Footer Style*/
	footer{
    text-align: center;
		background-color: #212529;
		color: #FFF;
	  }
  
  .row {
	margin: 0;
  }
  
  .container {
	padding: 70px 0;
  }
  
  /* Barra de navegação */
  header, .navbar {
	background-color: #353D41;
  }

  #mensagem{
	color: #ffffff;
  }
  
  #nav-container {
	padding-top: 0;
	padding-bottom: 0;
  }
  
  #logo {
	width: 90px;
  }
  
  .navbar-brand {
	padding: 0;
	color: #FFF;
  }
  
  .navbar-brand:hover {
	color: #FFF;
  }
  
  #navbar-links a {
	color: #FFF;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
	padding: 1rem .8rem;
  }
  
  .nav-item.active {
	border-bottom: 3px solid #FFF;
  }
/* Middle  */
  .conteudo{
      height: 83vh;
      width: 100%;
      background-color: #ffffff;
  }
  #imagem-container,
  #info-container {
    margin-top: 30px;
  }
  #imagem-container img {
    border-radius: 15px;
    background-color: #212529;
  }

  #info-container p {
    margin: 0;
    font-size: 14px;
    display: flex;
  }

  #info-container h3,
  #description-container h3 {
    font-size: 20px;
    font-weight: bold;
  }

  #info-container #event-submit {
    margin: 10px 0;
  }
  #btns{
    margin-top: 30px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }
  .btn-primary{
    margin-right: 10px;
  }
